*{
    padding: 0;
    margin: 0;
    background-color: #333;
}

.title{
    color: #aaa;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}

.game-turn{
    color: rgb(45, 224, 248);
    font-size: 30px;
    text-align: center;
    margin: 20px;    
}
.turn{
    color: #5234fd;
}
.board{
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 320px;
}
.cell{
    border: 1px solid #5234fd; 
    color: #34f6fd;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
.hide{
    display: none;
}
.result{
    color: #fff;
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}
.reset{
    background-color: rgb(58, 70, 245);
    color: #ddd;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
}
